$cardBgColor: rgba(55, 48, 50, 0.8);
$cardNavBgColor: hsl(308, 85%, 61%);
$btnHoverColor: rgb(246, 146, 246);
$cardHeight: 450px;
$borderRadius: 10px;
$cardColor: rgb(226, 243, 182);
$cardPadding: 1rem;